.hero
{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.hero img
{
    margin-top: 50px;
    border-radius: 1000px;
    height: 400px;
}
.hero h1
{
    text-align: center;
    width: 70%;
    font-size: 70px;
    font-weight: 600;
}
.hero span
{
    background: linear-gradient(267deg, #DA7C25 10%, #B923E1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p
{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}
.hero-action
{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect
{
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 -5.09%, #B923E1 106.2%);
    cursor: pointer;
}
.hero-resume
{
    padding: 25px 45px;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
}
.hero-connect:hover
{
    border: 2px solid white;
}
.hero-resume:hover
{
    border-color: #B923E1;
}
.hidden {
    opacity:0;
  }
.console-container
{
   
    font-size:50px;
    text-align:center;
    height:70px;
    width:600px;
    display:block;
    position:relative;
    color:white;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
  }
.console-underscore {
     display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
  }