*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body
{
    height: 100vh;
    background: #161513;
    color: white;
    font-family: 'outfit';
}
html {
    scroll-behavior: smooth;
    text-decoration: none;
}